---
import { getCollection, type CollectionEntry } from 'astro:content';
import Markdown from '../components/Markdown.astro';

export const prerender = true;

export async function getStaticPaths() {
  const skillsEntries = await getCollection('skills');
  return skillsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'skills'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>

<Markdown>{entry.data.description}</Markdown>
<Content />
