---
import { getCollection, type CollectionEntry } from 'astro:content';
import Markdown from '../components/Markdown.astro';
import Layout from '../layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
  const skillsEntries = await getCollection('skills');
  return skillsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'skills'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title="aksjdh">
  <div class="fixed inset-0">
    <img
      class="object-cover w-full h-full"
      transition:name={entry.data.title}
      src={entry.data.previewImgUrl}
      alt=""
    />
  </div>
  <h1>{entry.data.title}</h1>

  <Markdown>{entry.data.description}</Markdown>
  <Content />
</Layout>
