---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const entry = await getEntry('index', 'my-first-md-file');
const { Content, headings } = await entry.render();

export const prerender = true;
---

<Layout title="Welcome to Astro.">
  <main>
    <Content />
  </main>
</Layout>
